:root {
  --anaranjado: #FAA275;
  --coral: #FF8C61;
  --satin: #CE6A85;
  --plum: #985277;
  --dark: #5C374C;
}

body {
  background-color: var(--anaranjado) !important;
}

h1, p, span, a, label, input, select, option, .card-title {
  color: var(--dark) !important;
}

.color-dark {
  color: var(--dark) !important;
}

.bg-satin {
  background-color: var(--satin) !important;
}

.bg-coral {
  background-color: var(--coral) !important;
}

.w-200px {
  width: 200px !important;
} 

.resultados {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.resultados .card {
  width: 100% !important;
  max-width: 300px !important;
}

.text-muted {
  font-size: 2rem !important;
}